/* Estilos Generales */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
}

.profilePage {
    display: flex;
    justify-content: center;
}

.centerSection {
    flex-grow: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    max-width: 800px;
    width: 100%;
    color: #fff;
}

.goBackButton {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.gobackicon:hover {
    background-color: #333;
}

.profileBanner {
    position: relative;
    margin-bottom: 20px;
    max-height: 300px;
    overflow: hidden;
    align-items: flex-end;
}

.bannerImage {
    border-radius: 7px;
    width: 100%;
    height: auto;
    display: block;
}

.profileImageContainer {
    position: sticky;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profileInfo {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.profileName {
    font-size: 20px;
    margin-bottom: 0;
}

.profileHandle {
    margin-top: 0;
}

.editProfileButton {
    position: sticky;
    background-color: #1491f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: -50px;
}

.editProfileButton:hover {
    background-color: #2183d3;
}

.profileStats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat {
    text-align: center;
}

.statNumber {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.statName {
    font-size: 14px;
}

.buttonsRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.currentButton {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: -10px;
    width: 200px;
}

.currentButton:focus {
    outline: none;
}

.centerSection .currentButton:hover {
    color: #1491f4;
}

.centerSection .currentButton::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #1491f4;
    transition: width 0.3s ease;
}

.centerSection .currentButton:focus::after {
    width: 100%;
}

.postSection {
    margin-top: 20px;
}

.post {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.sectionSeparator {
    margin-bottom: 30px;
}

/* Estilos para la ventana emergente (modal) */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    max-width: 90%;
    position: relative;
    animation: modalFadeIn 0.3s ease-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modalContent h2 {
    color: #fff;
    margin-top: 0;
}

.modalContent input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.modalContent input::placeholder {
    color: #aaa;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
}

.modalCancelButton {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.modalCancelButton:hover {
    background-color: #666;
}

.modalSaveButton {
    background-color: #1491f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modalSaveButton:hover {
    background-color: #0e6ebd;
}
