.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajusta la opacidad del fondo según sea necesario */
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
}

.leftContent {
    flex: 1;
    margin-left: 10%;
    max-width: 700px;
}

.rightContent {
    width: 50%; /* Cambia el ancho del contenido derecho según sea necesario */
    max-width: 600px; /* Ancho máximo del contenido derecho */
    height: auto; /* Altura automática para mantener la relación de aspecto */
    margin-left: auto; /* Centra el contenido derecho */
}

.title {
    font-size: 5.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.description {
    font-size: 1.5rem; /* Ajustar el tamaño del texto del párrafo */
    color: #fff;
    margin-bottom: 20px;
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: center; /* Centrar los botones horizontalmente */
    margin-top: 15%;
    margin-bottom: 20px; /* Añadir espacio entre los botones y el párrafo */
}

.registerButton, .loginButton {
    font-size: 1.5rem; /* Ajustar el tamaño del texto de los botones */
    padding: 15px 30px; /* Ajustar el padding de los botones */
    border-radius: 10px; /* Ajustar el radio del borde de los botones */
    cursor: pointer;
}

.registerButton {
    background-color: #117fd8;
    color: #fff;
    margin-right: 20px; /* Añadir espacio entre los botones */
}

.registerButton:hover{
    background-color: #0c71c4;
  }

.loginButton {
    background-color: #fff;
    color: #117fd8;
}

.loginButton:hover{
    background-color: #e0e0e0;
  }

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a{
    text-decoration: none;
}

/* Media queries para hacer la página responsive */
@media (max-width: 918px) {
    .content {
        flex-direction: column; /* Cambiar la dirección de los elementos en pantallas pequeñas */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    .leftContent {
        width: 100%; /* Ajustar el ancho del leftContent en pantallas pequeñas */
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 4rem; /* Ajustar el tamaño del texto del título en pantallas pequeñas */
    }

    .description {
        font-size: 1rem; /* Ajustar el tamaño del texto del párrafo en pantallas pequeñas */
    }

    .buttons {
        flex-direction: wrap; /* Cambiar la dirección de los botones en pantallas pequeñas */
        margin: 0;
    }

    .registerButton, .loginButton {
        width: 100%; /* Ajustar el ancho de los botones en pantallas pequeñas */
        margin-bottom: 10px; /* Añadir espacio entre los botones en pantallas pequeñas */
    }
    .rightContent{
        display: none;
    }
}
