/* Estilos Generales*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
    /* Fondo de la sección */
}

.homePage {
    display: flex;
    justify-content: center;
    /* Centro el contenido horizontalmente */
    align-items: flex-start;
    /* Alínea el contenido arriba */
    min-height: 100vh;
    /* Ajustar la altura mínima de la página */
}


/* Estilos para la Seccion Izquierda*/

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    color: #fff;
    position: sticky; /* Fija la posición del elemento */
    top: 0; /* Ajusta la posición superior */
}

.leftSection h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.leftSection .navButtons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftSection .navButton {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.leftSection .navButton svg {
    margin-right: 10px;
}

.leftSection .navButton:hover {
    color: #117fd8;
}

.createTeamButton {
    background-color: #1491F4;
    color: rgb(43, 43, 43);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

.createTeamButton:hover {
    background-color: #117fd8;
}

.leftSection .profileInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftSection .profileInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.leftSection .profileInfo .profileName {
    font-weight: bold;
    margin-bottom: -5px;
}

.leftSection .profileInfo .profileHandle {
    color: #888;
    margin-top: 0;
    /* Elimina el margen superior */
}

.leftSection .settingsIcon {
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
}

/* Estilos para la Seccion Central*/

.centerSection {
    flex-grow: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    max-width: 700px;
    /* Establece un ancho máximo */
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
    color: #fff;
}

.centerSection h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.centerSection .events {
    display: flex;
    font-size: 21px;
    margin-bottom: 20px;
    justify-content: end;
}

.centerSection .eventsIcon {
    font-size: 25px;
}

.centerSection .buttonsRow {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 100%;
}

.centerSection .currentButton,
.centerSection .completedButton {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: -10px;
    width: 200px;
}

.centerSection .currentButton:focus,
.centerSection .completedButton:focus {
    outline: none;
}

.centerSection .currentButton:hover,
.centerSection .completedButton:hover {
    color: #1491F4;
}

.centerSection .currentButton::after,
.centerSection .completedButton::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #1491F4;
    transition: width 0.3s ease;
}

.centerSection .currentButton:focus::after,
.centerSection .completedButton:focus::after {
    width: 100%;
}

.centerSection .publications {
    overflow: hidden;/* Oculta el contenido que excede la altura máxima */
}

.centerSection .publication {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.centerSection .publication p {
    color: #fff;
    margin-top: 10px;
}

.centerSection .profileInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.centerSection .profileImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.centerSection .profileInfo .profileName {
    font-weight: bold;
    margin-bottom: -5px;
}

.centerSection .profileInfo .profileHandle {
    color: #888;
    margin-top: 0;
}

.centerSection .postTime {
    margin-left: auto;
    color: #888;
    font-size: 12px;
}

.image {
    width: 100%;
    max-height: 450px;
    height: auto;
    font-size: 40px;
    object-fit: cover;
    border-radius: 15px;
}

.sectionSeparator {
    margin-bottom: 30px;
}

/* Estilos para la Seccion Derecha*/

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    color: #fff;
}

.rightSection .searchBoxContainer {
    position: relative;
    width: 100%;
}

.rightSection .searchBox {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid rgb(167, 167, 167);
    transition: border-bottom-color 0.3s;
}

.rightSection .searchBox:focus {
    outline: none;
    border-bottom-color: #1491F4;
}

.rightSection .searchIcon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0px;
    top: 23px;
    transform: translateY(-50%);
    cursor: pointer;
}

.rightSection .teamRecommendations,
.rightSection .hashtagsRecommendations {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.rightSection .sectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.rightSection .teamRecommendations .team,
.rightSection .hashtagsRecommendations .hashtag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rightSection .teamRecommendations .team img,
.rightSection .hashtagsRecommendations .hashtag img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.rightSection .teamRecommendations .team .name,
.rightSection .hashtagsRecommendations .hashtag .name {
    font-weight: bold;
}

.rightSection .teamRecommendations .team .handle,
.rightSection .hashtagsRecommendations .hashtag .handle {
    font-size: 12px;
    color: #888;
}

.rightSection .profileInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.rightSection .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rightSection .profileInfo .profileName {
    font-weight: bold;
    margin-bottom: -12px;
}

.rightSection .profileInfo .profileHandle {
    color: #888;
}

.rightSection .buttonMore {
    background-color: #1491F4;
    color: rgb(43, 43, 43);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rightSection .buttonMore:hover {
    background-color: #117fd8;
}

.rightSection .showMore {
    color: #1491F4;
    cursor: pointer;
}

.rightSection .hashtagsDetails {
    border-bottom: 1px solid #888;
    margin-bottom: 10px;
}

.rightSection .hashtagsDetails .hashtags {
    font-weight: bold;
    margin-bottom: -12px;
}

.rightSection .hashtagsDetails .teams {
    color: #888;
}