/* Estilos Generales*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
}

.profilePage {
    display: flex;
    justify-content: center;
}

.centerSection {
    flex-grow: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    max-width: 800px;
    width: 100%;
    color: #fff;
}

.goBackButton {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.gobackicon {
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: -8px;
}

.gobackicon:hover {
    background-color: #333;
}

.profileBanner {
    position: relative;
    max-height: 300px;
    /* Altura máxima del banner */
    overflow: hidden;
    /* Evita que la imagen del banner se desborde */
    align-items: flex-end;
    /* Coloca la imagen de perfil en la parte inferior */
}

.bannerImage {
    border-radius: 7px;
    width: 100%;
    height: auto;
    /* Permite que la altura se ajuste automáticamente */
    display: block;
}

.profileImageContainer {
    position: sticky;
    display: flex;
    /* Utiliza display flex para el contenedor de la imagen de perfil */
    justify-content: start;
    /* Centra la imagen horizontalmente */
    margin-top: -65px;
    margin-bottom: 0;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    /* Añadido borde blanco alrededor de la imagen */
}

.profileInfo {
    display: flex;
    text-align: start;
    /* Centrado del contenido */
    justify-content: start;
}

.profileName {
    font-size: 20px;
    margin-bottom: 0;
}

.profileHandle {
    margin-top: 0;
}

.editprofile {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 10px;
}

.editProfileButton {
    position: sticky;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -50px;
}

#btninvite {
    background-color: #1491F4;
}

#btninvite:hover {
    background-color: #2183d3;
}

.editProfileButton:hover {
    background-color: #2183d3;
}

.iconprofile {
    margin-bottom: -2px;
}

.topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    max-width: 600px;
}

.topprofileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.postInput {
    width: calc(100% - 150px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

.postInput::placeholder {
    color: #ccc;
}

.postInput:focus {
    outline: none;
    border-bottom-color: #1491F4;
}

.postButton {
    background-color: #1491F4;
    color: rgb(211, 211, 211);
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -9px;
}

.postButton:hover {
    background-color: #0e6ebd;
}


.postIcons {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px; /* Ajuste para separar los iconos del input */
}

.iconButton {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.postSection {
    margin-top: 20px;
}

.post {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.sectionSeparator {
    margin-bottom: 30px;
}