.registerContainer {
  display: flex;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}

.title {
  font-size: 4.6rem;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  padding: 0;
  margin: 0;
  margin-top: -50px;
  font-size: 22px;
}

.form {
  text-align: center;
  width: 100%;
  /* Hacemos que el formulario ocupe todo el ancho del contenedor */
  max-width: 400px;
  /* Establecemos un ancho máximo para el formulario */
}

.input {
  margin-bottom: 20px;
  font-size: 1rem;
  width: calc(100% - 30px);
  padding: 15px;
  border: none;
  background-color: transparent;
  color: #000000;
  border-bottom: 1px solid #ccc;
  transition: border-bottom-color 0.3s;
}

/* Estilo para el select */
.select {
  margin-bottom: 20px;
  font-size: 1rem;
  width: calc(100% - 30px);
  padding: 15px;
  border: 2px dotted white;
  background-color: #242424;
  color: #fff;
  transition: border-bottom-color 0.3s;
  position: relative;
  /* Agregamos posición relativa */
}

.input:focus {
  outline: none;
  border-bottom-color: #1491F4;
}


.passwordContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordContainer .showPasswordIcon {
  cursor: pointer;
}


.loginButton {
  width: 100%;
  padding: 15px;
  background-color: #1491F4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #117fd8;
}

.signupMessage {
  margin-top: 20px;
  color: #fff;
  font-size: 0.8rem;
}

.signupLink {
  color: #1491F4;
  text-decoration: none;
}

.signupLink:hover {
  color: #117fd8;
  text-decoration: none;
}

.imageContainer {
  flex: 1;
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}